:root {
  --bg-color: rgba(19, 23, 44, 1);
  --cardbg-color: rgba(223, 224, 227, 0.05);
  --cardborder-color: rgba(223, 224, 227, 1);
  --text-color: rgba(223, 224, 227, 1);
  --transparent-blue: rgba(0, 0, 256, 0.25)
}

#root {
  background-color: var(--bg-color);
  background-size: 15px 15px;
   background-image:
    linear-gradient(to right, rgba(0, 0, 255, 0.17) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 255, 0.15) 1px, transparent 1px);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  font-family: "NowBold";
  font-size: 16px;
}

.tinyLink {
  border: 1px solid orange;
  padding: 2px;
  border-radius: 10%;
  letter-spacing: 1px;
}

.tinyLink:hover {
  background-color: blue;
}

.backToTop {
  position: fixed;
  bottom: 40px;
  right: 2vw;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  aspect-ratio: 1 / 1;
  font-size: 150%;
  background-color: var(--cardbg-color);
  color: orange;
  border: 0;
}

.backToTop:hover {
  background-color: var(--transparent-blue);
  cursor: pointer;
}
/*
*
*/

/* ..:: Removing arrows from numbers input ::.. */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  color:var(--text-color);
  text-decoration: none;
}

/* ..:: HEADER ::.. */

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 5px;
  background-color: var(--bg-color);
  font-size: 80%;
}

.header--logo {
  margin: auto 5px;
  padding: 0;
  font-size: 120%;
  letter-spacing: 1px;
}

.topbar--menu {
  padding-top: 5px;
  display: flex;
  column-gap: 1vw;
  margin-right: 1vw;
  flex-wrap: wrap;
}

.topbar--link, .header--logo {
  padding: 5px;
  border: 1px solid orange;
  letter-spacing: 1px;
  border-radius: 10%;
}

.topbar--link:hover, .header--logo:hover {
  background-color: yellow;
  color: blue;
}

.logo--text {
  margin: 0;
  font-size: 200%;
  letter-spacing: 0.5vw;
  text-align: center;
  min-width: 300px;
}

.logo--description {
  font-size: 70%;
  text-align: center;
  margin-top: 0;
  letter-spacing: 3px;
}
/* ..:: SEARCH ::.. */

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  cursor: default;
  margin-bottom: 1vh;
  gap: 1vh;
}



.search--box {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1vw;
  width: 100%;
  text-align: center;
}


.search--input {
  height: 30px;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
}

.search--button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 3px;
  min-width: 100px;
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  margin: 1px 0;
  vertical-align: middle;
  cursor: pointer;
}

.search--button:hover {
  background-color: blue;
  letter-spacing: 1px;
}

.search--nav {
  display: flex;
  gap: 5px;
  min-height: 30px;
  flex-wrap: wrap;
  margin: 0, 5px;
}

.search--error {
  background: var(--cardbg-color);
  padding: 5px;
  border: 1px solid orange;
}

/* ..:: DONORS BOX ::.. */

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  margin-bottom: 5px;
}

.sponsors--supporters {
  font-size: 80%;
}

.sponsors--marquee {
  background-color: blue;
}

.sponsor--div {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.sponsor--title, .sponsor--desc {
  margin: 0;
  font-size: 90%;
}

.sponsor--desc {
  font-size: 65%;
}

/* ..:: RESULTS ::.. */

.results--div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
  gap: 1.5vh;
  align-items: center;
  margin-bottom: 3vh;
  width: 100%;
}



.results--label {
  font-size: 130%;
}


/* ..:: VENDORS ::.. */

.vendors--div, .privacy--div, .aboutus--div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  gap: 10px;
  margin: 0 5vw;
  max-width: 90vw;
}

.privacy--div > p, h1, h2 {
  margin: 2px;
}

.singleVendor--div {
  background-color: var(--cardbg-color);
  border: 1px solid var(--cardborder-color);
  padding: 5px;
}

.singleVendor--link:hover {
  background-color: blue;
}

.singleVendor--nameBox {
  display: flex;
  gap: 5px;
  font-size: 120%;
  color: orange;
  letter-spacing: 1.5px;
}

.singleVendor--descBox {
  font-size: 80%;
}

.singleVendor--tagBox {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 80%;
  padding: 3px;
}

.singleVendor--tag {
  padding: 2px;
  border: 1px solid orange;
  letter-spacing: 1px;
  font-size: 80%;
}

.singleVendor--coupon {
  font-size: 80%;
  padding: 3px 3px;
  letter-spacing: 2px;
  color: orange;
}

/* VENDORS SUPPORTERS */
.supporter--bronze {
  font-size: 60%;
  color: white;
  background-color: var(--bg-color);
  padding: 2px;
}

/* VENDORS FILTERS */

.vendors--filters {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  gap: 10px;
}

.vendorsFilter--countrybox {
  display: flex;
  gap: 10px;
}

.vendorsFilter--tagbox {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.vendorsFilter--button {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 500;
  font-size: 80%;
  border: 1px solid orange;
  padding: 2px 5px;
  vertical-align: middle;
}

.vendorsFilter--button:hover {
  background-color: blue;
  cursor: pointer;
}

.vendors--selectedCountry {
  cursor: pointer;
  padding: 0;
  background-color: var(--bg-color);
}

.vendors--countryList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
}



/* ..:: Shroomery ::.. */
/* ..:: Erowid ::.. */

.shroomery--singleResult, .erowid--singleResult {
  background-color: var(--cardbg-color);
  border: 1px solid rgba(223, 224, 227, 0.2);
  padding: 5px;
  margin: 0 5vw;
  width: 90vw;
  font-size: 120%;
}

.shroomery--singleResult:hover, .erowid--singleResult:hover {
  background-color: blue;
}

.shroomery--secondRow {
  text-align: right;
  font-size: 80%;
}

.shroomery--hr, .erowid--hr {
  border: 1px solid rgba(223, 224, 227, 0.2);
  width: 100%;
}

.erowid--description {
  font-size: 80%;
}

/* ..:: DuckDuckGo ::.. */

.ddg--singleResult {
  background-color: var(--cardbg-color);
  border: 1px solid rgba(223, 224, 227, 0.2);
  padding: 5px;
  font-size: 120%;
  margin: 0 5vw;
  width: 90vw;
}

.ddg--singleResult:hover {
  background-color: blue;
}

.ddg--description, .erowid--description {
  font-size: 70%;
}

/* ..:: FOOTER ::.. */

/* TO DO:
[x] Center
*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 1px;
  width: 100%;
  text-align: center;
  padding: 50px 0 5px 0;
  font-size: 80%;
}

footer > p {
  margin: 0;
}

/* ..:: PAGES ::.. */
.pageTitle {
  color: orange;
  font-size: 200%;
  text-align: center;
}

.pageSubtitle {
  font-size: 150%;
  text-align: center;
}

.pageDiv {
  max-width: 90vw;
  margin: 0 5vw;
  padding: 5px;
}

.support--div {
  margin: 0 5vw;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}



.support--maintenance {
  background-color: var(--cardbg-color);
  display: grid;
  width: fit-content;
  grid-template-columns: 1fr 1fr;
  gap: 2px 10px;
  border: 1px solid var(--cardborder-color);
  padding: 5px;
}

.support--costTotal, .support--valueTotal, .support--firstRow {
  color: orange;
}

.support--costValue, .support--valueTotal, .support--firstRow {
  text-align: right;
}

.support--kofi {
  color: orange;
}

.support--kofi:hover {
  color: blue;
}

.pageList {
  padding: 5px;
  margin: 0 0 5px 0;
  list-style: upper-latin;
}

.support--wall {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  min-width: 50vw;
  max-width: 80%;
  background-color: orange;
  color: black;
  border-radius: 2px;
  padding: 5px;
}

.support--wall > h2 {
  margin: 0;
  text-align: center;
}

.contactBox {
  margin: auto;
  display: grid;
  grid-template-areas: 
  "header header";
  width: fit-content;
  column-gap: 10px;
  row-gap: 3px;
  background-color: var(--bg-color);
  padding: 10px;
  border: 1px solid yellow;
  padding-top: 2px;
}

.contactBox--header {
  grid-area: header;
  text-align: center;
  font-size: 200%;
  color: orange;
  border-bottom: 2px solid yellow;
}

.contactBox--label {
  border-bottom: 1px solid yellow;
}

.contactBox--value {
  text-align: right;
  border-bottom: 1px solid yellow;
}

.contactBox--value:hover {
  background-color: blue;
}
/*
* ..:: TOOLS ::..
*/

.tools--nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  font-size: 80%;
}

.tools--button, .tools--unit {
  background-color: var(--cardbg-color);
  border: 1px solid var(--cardborder-color);
  padding: 10px;
  user-select: none;
}

.tools--button:hover, .tools--unit:hover {
  background-color: blue;
  cursor: pointer;
}

.tools--weightInput {
  margin: 0 5px;
  padding: 10px;
  width: 30px;
}

.tools--label, .tool--linkDiv {
  padding: 10px;
  background-color: var(--cardbg-color);
  border-radius: 3%;
  border: 1px solid orange;
  text-align: center;
}

.tools--list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  max-width: 80vw;
  margin: 0 auto;
}
.tool--linkDiv {
  display: flex;
  flex-direction: column;
}

.tool--linkName {
  font-size: 120%;
  letter-spacing: 1.5px;
}

.tool--linkDesc {
  font-size: 70%;
}

/*
* ..:: CBD ::..
*/

.cbd--div {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 5vh;
}

/* ..:: Pet CBD ::.. */

.petCBD--div {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  padding: 5px 5px;
  gap: 1vh;
  background-color: var(--bg-color);
  padding: 20px;
  max-width: 80vw;
}

.petCBD--label {
  margin: 0;
  padding: 0;
}

.petCBD--weightDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}

.petCBD--results {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: var(--cardbg-color);
  border: 1px solid var(--cardborder-color);
  padding: 10px;
  text-align: left;
}

.petCBD--singleResult {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  gap: 10px;
}

.petCBD--disclaimer {
  margin: auto;
  max-width: 50vw;
  font-size: 80%;
}


/* ..:: VolumeOilSimpleCBD ::.. */
.VOSCBD--div {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  max-width: 80vw;
  gap: 10px;
  background-color: var(--bg-color);
  padding: 20px;
}

.VOSCBD--columns {
  display: flex;
  justify-content: space-around;
}

.VOSCBD--result, .VOACBD--result {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5px;
  background-color: var(--cardbg-color);
  border: 1px solid var(--cardborder-color);
  padding: 5px;
  width: 75%;
  margin: auto;
}

.VOSCBD--result > p, .VOACBD--result > p {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0;
}

/* ..:: VolumeOilAdvancedCBD ::.. */

.VOACBD--div {
  margin: 5px auto;
  max-width: 80vw;
  padding: 20px;
  background-color: var(--bg-color);
  gap: 10px;
}

.VOACBD--inputField {
  width: 30px;
}

.VOACBD--inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.VOACBD--input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.VOACBD--result {
  width: 100%;
}


/* ..:: DXM ::.. */

.dxm--div {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-bottom: 50px;
}

/* ..:: PlateauDXM ::.. */


.pDXM--div {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  background-color: var(--bg-color);
  padding: 20px;
  gap: 10px;
}

.pDXM--input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pDXM--results {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  column-gap: 10px;
  background-color: var(--cardbg-color);
  padding: 10px;
  font-size: 70%;
}

.pDXM--source {
  font-size: 80%;
  text-align: right;
  margin: 0;
}

.pDXM--disclaimer > p {
 font-size: 70%;
 text-align: right;
 margin: 0;
}

.pDXM--footer {
  display: flex;
  flex-direction: column;
}
/* ..:: PRIVACY ::.. */

.redEmphasis {
  color: red;
  letter-spacing: 1px;
}

/* ..:: SUPPORT ::.. */


/* ..:: LOADING ::.. */

.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.loading
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.loading:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}