:root {
  --bg-color: rgba(19, 23, 44, 1);
  --text-color: rgba(223, 224, 227, 1);
}

#root {
  background-color: var(--bg-color);
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, rgba(255, 0, 0, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 0, 0, 0.1) 1px, transparent 1px);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  font-family: "NowBold";
  font-size: 16px;
}

a {
  color:var(--text-color);
  text-decoration: none;
}

/* ..:: HEADER ::.. */

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 5px;
  background-color: var(--bg-color);
}

.topbar--menu {
  display: flex;
  column-gap: 1vw;
  margin-right: 1vw;
}
.logo-text {
  margin: 0;
  font-size: 200%;
  letter-spacing: 0.5vw;
  text-align: center;
  min-width: 300px;
}
/* ..:: SEARCH ::.. */

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  cursor: default;
  margin-bottom: 1vh;
  gap: 1vh;
}



.search--box {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1vw;
  width: 100%;
  text-align: center;
}


.search--input {
  height: 30px;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
}

.search--button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  min-width: 100px;
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  margin: 1px 0;
  vertical-align: middle;
}

.search--button:hover {
  background-color: blue;
  letter-spacing: 1px;
}

.search--nav {
  display: flex;
  gap: 5px;
  min-height: 30px;
}

/* ..:: DONORS BOX ::.. */

.sponsors {
  width: 30vw;
  min-width: 300px;
  max-width: 500px;
  margin: 1vh auto;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  padding: 5px;
}

.sponsors-box > p {
  margin: 0;
  text-align: left;
}

.sponsors-box > p:hover {
  background: blue;
  cursor: pointer;
  letter-spacing: 1px;
}

/* ..:: RESULTS ::.. */

.results--div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
  gap: 1.5vh;
  align-items: center;
  margin-bottom: 3vh;
  width: 100%;
}

.results--label {
  font-size: 130%;
}



/* ..:: Shroomery ::.. */
/* ..:: Erowid ::.. */

.shroomery--singleResult, .erowid--singleResult {
  background-color: var(--bg-color);
  border: 1px solid rgba(223, 224, 227, 0.2);
  padding: 5px;
  margin: 0 5vw;
  width: 90vw;
  font-size: 120%;
}

.shroomery--singleResult:hover, .erowid--singleResult:hover {
  background-color: blue;
}

.shroomery--secondRow {
  text-align: right;
  font-size: 80%;
}

.shroomery--hr, .erowid--hr {
  border: 1px solid rgba(223, 224, 227, 0.2);
  width: 100%;
}

.erowid--description {
  font-size: 80%;
}

/* ..:: DuckDuckGo ::.. */

.ddg--singleResult {
  background-color: var(--bg-color);
  border: 1px solid rgba(223, 224, 227, 0.2);
  padding: 5px;
  font-size: 120%;
  margin: 0 5vw;
  width: 90vw;
}

.ddg--singleResult:hover {
  background-color: blue;
}

.ddg--description, .erowid--description {
  font-size: 80%;
}

/* ..:: FOOTER ::.. */

/* TO DO:
[x] Center
*/

footer {
  position: fixed;
  bottom: 0.5vh;
  width: 100%;
  text-align: center;
  background-color: var(--bg-color);
  padding: 5px 0;
  font-size: 80%;
}
